In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
f = pd.read_csv("../sars_cov_2_proportions.csv")

In [4]:
f.head()

,usa_or_hhsregion,week_ending,variant,share,share_hi,share_lo,nchs_or_count_flag,modeltype,time_interval,published_date
0,USA,05/08/2021 12:00:00 AM,B.1.1.529,0.000000,NaN,NaN,1.0,weighted,weekly,03/31/2023 12:00:00 AM
1,USA,05/08/2021 12:00:00 AM,B.1.617.2,0.017526,0.021864,0.01385,0.0,weighted,weekly,03/31/2023 12:00:00 AM
2,USA,05/08/2021 12:00:00 AM,BA.1.1,0.000000,NaN,NaN,1.0,weighted,weekly,03/31/2023 12:00:00 AM
3,USA,05/08/2021 12:00:00 AM,BA.2,0.000000,NaN,NaN,1.0,weighted,weekly,03/31/2023 12:00:00 AM
4,USA,05/08/2021 12:00:00 AM,BA.2.12.1,0.000000,NaN,NaN,1.0,weighted,weekly,03/31/2023 12:00:00 AM

In [5]:
regions = np.unique(f['usa_or_hhsregion'])

In [6]:
regions

array(['1', '10', '2', '3', '4', '5', '6', '7', '8', '9', 'USA'],
      dtype=object)

In [7]:
variants = np.unique(f['variant'])
variants

array(['A.2.5', 'AY.1', 'AY.2', 'AY.3', 'B.1', 'B.1.1', 'B.1.1.194',
       'B.1.1.519', 'B.1.1.529', 'B.1.1.7', 'B.1.2', 'B.1.234', 'B.1.243',
       'B.1.351', 'B.1.427', 'B.1.429', 'B.1.525', 'B.1.526', 'B.1.526.1',
       'B.1.526.2', 'B.1.596', 'B.1.617', 'B.1.617.1', 'B.1.617.2',
       'B.1.617.3', 'B.1.621', 'B.1.621.1', 'B.1.626', 'B.1.628',
       'B.1.637', 'BA.1.1', 'BA.2', 'BA.2.12.1', 'BA.2.75', 'BA.2.75.2',
       'BA.4', 'BA.4.6', 'BA.5', 'BA.5.2.6', 'BF.11', 'BF.7', 'BN.1',
       'BQ.1', 'BQ.1.1', 'CH.1.1', 'EU.1.1', 'FD.2', 'FE.1.1', 'Other',
       'P.1', 'P.2', 'R.1', 'XBB', 'XBB.1.16', 'XBB.1.16.1', 'XBB.1.5',
       'XBB.1.5.1', 'XBB.1.5.10', 'XBB.1.5.68', 'XBB.1.9.1', 'XBB.1.9.2',
       'XBB.2.3'], dtype=object)

In [81]:
usa = f.loc[
    (f['usa_or_hhsregion'] == "USA") & 
    (f['time_interval'] == 'weekly') & 
    (f['modeltype'] == 'weighted') & 
    (f['nchs_or_count_flag'] == 0.0)
    ]
usa.shape

(24369, 10)

In [82]:
usa['week_ending'] = pd.to_datetime(usa['week_ending'], format='%m/%d/%Y %X %p').dt.strftime('%Y-%m-%d')
usa = usa.sort_values(by='week_ending')
usa.head()

C:\Users\Gerald Wong\AppData\Local\Temp\ipykernel_5156\2832995782.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usa['week_ending'] = pd.to_datetime(usa['week_ending'], format='%m/%d/%Y %X %p').dt.strftime('%Y-%m-%d')

,usa_or_hhsregion,week_ending,variant,share,share_hi,share_lo,nchs_or_count_flag,modeltype,time_interval,published_date
480096,USA,2021-01-30,B.1.1.7,0.012539,0.025176,0.006205,0.0,weighted,weekly,08/10/2021 12:00:00 AM
750688,USA,2021-01-30,B.1.1.7,0.012529,0.025162,0.006198,0.0,weighted,weekly,08/17/2021 12:00:00 AM
750691,USA,2021-01-30,B.1.526,0.017727,0.042249,0.007329,0.0,weighted,weekly,08/17/2021 12:00:00 AM
750700,USA,2021-01-30,Other,0.964660,0.980841,0.935711,0.0,weighted,weekly,08/17/2021 12:00:00 AM
442720,USA,2021-01-30,B.1.1.7,0.012757,0.025683,0.006295,0.0,weighted,weekly,08/24/2021 12:00:00 AM

In [91]:
usa = usa[usa['week_ending'] <= '2022-10-22']
usa.iloc[0]['week_ending']

'2021-01-30'

In [95]:
params = [
    'week_ending',
    'variant',
    'share',
    'share_lo',
    'share_hi'
]

us_data = usa[params]
us_data.head()
us_data.to_csv('../assets/data/us_variants.csv', sep=';', index=False)